[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 14.0

[submodule "stesi/fleet_project_task"]
	path = stesi/fleet_project_task
	url = git@github.com:stesi/fleet_project_task.git
	branch = 14.0

[submodule "stesi/adaslab_customization"]
	path = stesi/adaslab_customization
	url = git@github.com:stesi/adaslab_customization.git
	branch = 14.0

[submodule "stesi/stesi_rest"]
	path = stesi/stesi_rest
	url = git@github.com:stesi/stesi_rest.git
	branch = 14.0

[submodule "stesi/stesi_adaslab"]
	path = stesi/stesi_adaslab
	url = git@github.com:stesi/stesi_adaslab.git
	branch = 14.0

[submodule "stesi/select_all_companies"]
	path = stesi/select_all_companies
	url = git@github.com:stesi/select_all_companies.git
	branch = 14.0

[submodule "OCA/server-brand"]
	path = OCA/server-brand
	url = git@github.com:OCA/server-brand.git
	branch = 14.0

[submodule "stesi/stesi_website"]
	path = stesi/stesi_website
	url = git@github.com:stesi/stesi_website.git
	branch = 14.0

[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0

[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0

[submodule "ingegniamo/partner_efatt_info"]
	path = ingegniamo/partner_efatt_info
	url = git@github.com:ingegniamo/partner_efatt_info.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0
